
.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0 0 25px 0 #0000001a;
  
}
.services .icon-box {
  width: 100%;
  text-align: center;
  padding: 30px 20px 40px;
  transition: all ease-in-out .3s;
  background: rgb(10, 10, 10);
  color: #fff;
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .3s;
  position: relative;
}

/*BAGIAN */
.mere {
  margin-left: 130px
}
.a hover

.bg-img img{
  float: left;
  padding: 7px;
  padding-bottom: 14px;

}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}



/* The navbar */
.margin-bottom{
  margin-bottom: 50px;

}
.top-margin{
 margin-top: 100px;
}
.topnav {
  position: absolute;
  float: right;
  display: flex;
 
  text-align: center;
  
    text-decoration: none;
    padding-left: 20px;
  background-color: rgba(25, 25, 25,1);
}
.padang{
  padding-left: 50px;
}
/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(250, 68, 84.100);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* body */
.bg-color{
  background-color: rgb(31, 31, 31);

}
.text-white{
  color: white;
  text-align: center;
  font-size: 25;
  padding: 5rem;
}

.icon-box:hover{
  background-color: rgba(250, 68, 84.100);
  color: rgb(31, 31, 31);

}
/* BAGIAN ICON */


.nav-menu ul{
  display: flex;
}
.nav-menu ul{
  margin: 0;
}



/* footer */

#footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(
45deg
,#0a141eee 20%,#ff4654ee),url(../img/hero-bg.jpg?v=1) center center no-repeat;
  background-size: cover;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
footer {
  display: block;
}


