body{
    background-color: #fb4454;
}

/* Navbar background */
.bg-img {
    background-color: #111c23;

    min-height: 90px;
    min-width: 50px;

    position: relative;
    /* padding-top: 6px; */
    padding-left: 7px;
}

/* Valorant logo position */
.bg-img img{
    float: left;
    padding: 7px;
    padding-bottom: 5px;
}
  
/* The navbar */
.topnav {
 
    float: right;
    display: flex;
   
    text-align: center;
    
      text-decoration: none;
      padding-left: 20px;
    background-color: rgba(25, 25, 25,1);
  }
  .padang{
    padding-left: 100px;
   
  }
  /* Navbar links */
  #navbar {
    overflow: hidden;
   
  }
  
  #navbar a {
    float: left;
    display: block;
   
  }
  
  
  .topnav .naze button{
    float: left;
    color: #f2f2f2;
    text-align: center;
     padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .padang button:hover {
    background-color: rgba(250, 68, 84.100);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

html {
 
    font-size: 62.5%;
  }
  html *,
  html *:before,
  html *:after {
    box-sizing: inherit;
  }
  
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
  }
  .card .card__thumb img{
    width: 550px;
    height: 400px;
  }
  .card {
    width: 500px;
    margin: 10px;
    padding: 2px 2px 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.835);
  }
  .card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
  }
  .card:hover .card__image {
    transform: translateY(-10px);
  }
  .card:hover .card__thumb::after {
    top: 0;
  }
  .card:hover .card__snippet {
    margin: 10px 0;
  }
  .card__thumb {
    position: relative;
    
    overflow: hidden;
  }
  
  .card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }
  @media (min-width: 1024px) {
    .card__thumb::after {
      top: calc(100% - 140px);
    }
  }
  .card__image {
    transition: 0.5s ease-in-out;
  }
  .card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
  }
  @media (min-width: 1024px) {
    .card__caption {
      top: calc(100% - 110px);
      transform: unset;
    }
  }
  .card__title {
    display: -webkit-box;
    max-height: 90px;
    overflow: hidden;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  @media (min-width: 1024px) {
    .card__snippet {
      margin: 60px 0;
    }
  }
  .card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
  }
  .card__button:hover {
    color: black;
    background-color: white;
  }
  
  .disclaimer {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
  }
  .disclaimer__link {
    color: #755d87;
    text-decoration: none;
  }



  /* design form */
  .modal-header{
    background: linear-gradient(
    45deg
    ,#230814ee 20%,#ff4654ee), center center no-repeat;
color: #ffffff;
font-weight: bold;
  }

  .modal-body{
    background-color: #080909;
    color: azure;
  }
  .modal-footer{
    background: #080909;
  }